/* Fonts */

@font-face {
    font-family: Asul;
    src: url(assets/Asul/Asul-Regular.ttf);
}
@font-face {
    font-family: Asul;
    src: url(assets/Asul/Asul-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: baudot5;
    src: url(assets/baudot5.ttf);
}
@font-face {
    font-family: Fira_Code;
    src: url(assets/Fira_Code/static/FiraCode-Regular.ttf);
}


body {
    background-color: aliceblue;
}

nav {
    /* position:fixed; */
    margin-top: 20vh;
    font-family: Asul;
    font-size: 2vh;
    writing-mode: vertical-rl;
}

nav img {
    height: 1.7vh;
    object-fit: scale-down;
    transform: rotate(90deg)
}

nav a {
    margin-bottom: 2.5vh;
    color:black;
    text-decoration: none;
}

header a {
    color:black;
    text-decoration: none;
}

nav a:hover, header a:hover {
    color: #7887AD
}

.baudot {
    font-family: baudot5;
    font-size: 2vw;
}

main h1 {
    font-family: Fira_Code;
    font-size: 4vw;
}

main h2 {
    font-family: Fira_Code;
    font-size: 3vw;
}

#title {
    margin-right: 10vw
}

#title h1,h2,p{
    text-align: right;
    margin: .5vh;
}

#title p{
    margin-top: 1vh;
}

header {
    /* position: fixed; */
    width: 92vw;
    margin-top: -64vh;
    margin-left: 8vw;
}

header h3 {
    font-family: Asul;
    font-size: 2vh;
}

header img {
    margin-left: 0vw;
    object-fit: cover;
}

.gallery {
    margin-top: 0vh;
    margin-left: 8vw;
    display: grid;
    grid-template-rows: 28vh 28vh 28vh;
    gap: 1vh;
    grid-auto-flow: column;
}

.gallery img {
    overflow: hidden;
    height: 28vh;
    width: 28vh;
    object-fit: cover;
    filter: grayscale(80%);
    transition: grayscale 2s;
}

.gallery img:hover {
    filter: none;
    transform: scale(1.1);
}